html, body {
  background-color: rgb(10, 10, 10)
}

.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.logo-container {
  display: flex;
  margin-top: -50px;
  margin-bottom: -50px;
  margin-left: 30px;
}

.left-tab-container {
  display: flex;
  flex-direction: column;
  width: 430px;
  cursor: pointer;
  
  overflow: hidden;
}



.tab-container {
  background-color: #f7c133;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-right: 30px;
  height: calc((100vh - 25px - 220px) / 6);
}

.selected-tab {
  background-color: rgb(10, 10, 10);
}

.tab-text {
  font-size: 40px;
  font-weight: 300;
  color: rgb(10, 10, 10)
}

.selected-tab-text {
  color: #f7c133;
  font-weight: 600;
}

.category-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.category-title-container {
  height: 160px;
  width: calc(100% - 60px);
  background-color: #f7c133;
  margin: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-title {
  color: #151515;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
}

.content-container {
  background-color: rgba(230, 227, 227, 0.4);
  width: calc(100% - 120px);
  height: 100%;
  min-height: calc(100vh - 250px);
  margin: 0 30px 0 30px;
  border-radius: 4px 4px 0 0;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  padding-bottom: 0;
  justify-content: space-evenly;
  align-items: flex-start;
}

.individual-item {
  background-color: #f7c133;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 300px;
  margin-bottom: 50px;
  cursor: pointer;
  border-radius: 5px;
  transition: all .2s;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
}

.individual-item:hover {
  transform: scale(1.02);
  box-shadow: 2px 13px 20px -1px rgba(0,0,0,0.41);
}

.individual-item:active {
  transform: translateY(2px);
  box-shadow: 0px 5px 10px -7px rgba(0, 0, 0, 1);
}

.item-text {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

.individual-item-content-container {
  background-color: rgba(230, 227, 227, 0.4);
  width: calc(100% - 120px);
  height: 100%;
  min-height: calc(100vh - 280px);
  margin: 0 30px 0 30px;
  border-radius: 4px 4px 0 0;
  padding: 30px;
  position: relative;
}

.pagination-button-containers {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.pagination-button {
  padding: 0 50px 0 50px;
  margin: 0 50px 0 50px;
  width: 200px;
  background-color: #f7c133;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 13px 20px -1px rgba(0,0,0,0.66);
  transition: all .2s;
}

.pagination-button:hover {
  transform: scale(1.02);
  box-shadow: 2px 13px 20px -1px rgba(0,0,0,0.41);
}

.pagination-button:active {
  transform: translateY(2px);
  box-shadow: 0px 5px 10px -7px rgba(0, 0, 0, 1);
}

.pagination-button {
  padding: 0 50px 0 50px;
  margin: 0 50px 0 50px;
  width: 200px;
  background-color: #f7c133;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 13px 20px -1px rgba(0,0,0,0.66);
  transition: all .2s;
}

.pagination-button:hover {
  transform: scale(1.02);
  box-shadow: 2px 13px 20px -1px rgba(0,0,0,0.41);
}

.pagination-button:active {
  transform: translateY(2px);
  box-shadow: 0px 5px 10px -7px rgba(0, 0, 0, 1);
}

.back-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50px;
  box-shadow: 2px 13px 20px -1px rgba(0,0,0,0.66);
  transition: all .2s;
}

.back-button:hover {
  transform: scale(1.02);
  box-shadow: 2px 13px 20px -1px rgba(0,0,0,0.41);
}

.back-button:active {
  transform: translateY(2px);
  box-shadow: 0px 5px 10px -7px rgba(0, 0, 0, 1);
}

.list-item-title {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}

.list-item {
  color: rgb(10, 10, 121);
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
}

.list-item-comma {
  color: #111;
  font-size: 20px;
}

.opening-crawl {
  font-size: 20px;
  font-weight: 700;
  padding: 0 100px 0 100px;
}

.line-item-label {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}

.line-item-value {
  font-size: 20px;
  font-weight: 400;
  color: #000;
}

.spinner-box {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

.solar-system {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orbit {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #fafbfC;
	border-radius: 50%;
} 

.earth-orbit {
	width: 165px;
  height: 165px;
  animation: spin 12s linear 0s infinite;
  -webkit-animation: spin 12s linear 0s infinite;
}

.venus-orbit {
	width: 120px;
  height: 120px;
  animation: spin 7.4s linear 0s infinite;
  -webkit-animation: spin 7.4s linear 0s infinite;
}

.mercury-orbit {
	width: 90px;
  height: 90px;
  animation: spin 3s linear 0s infinite;
  -webkit-animation: spin 3s linear 0s infinite;
}

.planet {
	position: absolute;
	top: -5px;
  width: 10px;
  height: 10px;
	border-radius: 50%;
  background-color: #3ff9dc;
}

.sun {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #ffab91;
}

